<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/jstree/style.min.css">
    <link rel="stylesheet" type="text/css" href="/common.css">

    <title>Rep2Recall</title>
</head>

<body>
    <div id="App" class="container">
        <div class="row height-100">
            <div id="DeckColumn" class="animate col-12">
                <input id="search-bar" class="form-control mt-3" 
                placeholder="Type in to search by tags, separated by space.">
                <div id="DeckArea" class="col-12"></div>
            </div>
            <div id="QuizArea" class="col-9 hidden"></div>
        </div>
    </div>

    <script src="deckViewer.min.js"></script>
</body>

</html>