<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/common.css">

    <title>Rep2Recall</title>
</head>

<body>
    <div id="App" class="container-fluid">
        <div class="row mt-3 mb-3">
            <h1 class="mx-auto">What do you want to do?</h1>
        </div>
        <div class="row height-100">
            <div class="col-6 border-right row">
                <div class="mx-auto align-middle text-center">
                    <div><img src="/plus-circle-solid.svg" height="150"></div>
                    <button class="btn btn-success mt-3" id="file-create">Create a new file</button>
                </div>
                
            </div>
            <div class="col-6 row">
                <div class="mx-auto align-middle text-center">
                    <div><img src="/edit-solid.svg" height="150"></div>
                    <button class="btn btn-warning mt-3" id="file-open">Open a pre-existing file</button>
                </div>
            </div>
        </div>
    </div>

    <script src="index.min.js"></script>
</body>

</html>