<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Rep2Recall</title>
</head>

<body>
    <div id="App" class="container">
        <div class="row height-100">
            <div id="DeckArea" class="animate col-12"></div>
            <div id="QuizArea" class="col-9 hidden"></div>
        </div>
    </div>

    <script src="index.min.js"></script>
</body>

</html>