.treeview {
    ul {
        list-style: none;
    }

    li {
        user-select: none;

        .tree-text:hover {
            color: blue;
        }
    }

    .caret {
        width: 2em;
        display: inline-block;
    }
    
    .tree-score {
        padding-right: 50px;
        display: inline-flex;

        > * {
            width: 3em;
            display: inline-block;
            text-align: right;
        }

        > .tree-new {
            color: green;
        }

        > .tree-leech {
            color: red;
        }

        > .tree-due {
            color: blue;
        }

        > .tree-action {
            display: inline-flex;
            margin-left: 1em;
            margin-top: 0.3em;
            height: 0.7em;

            > button {
                flex: 0;
                padding-left: 0.3em;
                padding-right: 0.3em;
            }
        }
        
        .dot-green {
            margin-top: -0.2em;
            height: 0.5em;
            width: 0.5em;
            background-color: #28a745;
            border: 1px solid gray;
            border-radius: 50%;
            display: inline-flex;
        }
    }
}

.button-quiz {
    min-width: 70px;
}

small.button-label {
    top: 30px;
    left: 50px;
    position: relative;
}

.small-spinner {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    display: block;
}

#quiz-modal {
    .modal-body {
        height: 600px;
    }

    .counter {
        position: absolute;
        right: 1em;
        bottom: 1em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        background-color: white;
        border-radius: 0.2em;
    }
}