.editor-window {
    $control-height: 50px;
    $editor-input-width: 300px;

    .editor-control {
        z-index: 200;
        height: 3em;
        width: 100%;
        background-color: rgb(233, 233, 233);
        align-items: center;
        display: flex;
        top: 0px;
        height: $control-height;
        position: fixed;

        .editor-nav {
            white-space: nowrap;

            span {
                padding: 1em;
            }
        }

        .editor-button-space {
            padding-right: $editor-input-width + 100px;
            white-space: nowrap;

            .editor-button {
                width: 100px;
                margin-right: 1em;
    
                .dropdown-toggle-split {
                    width: 0 !important;
                }
            }
        }
    
        .editor-input {
            position: fixed;
            display: inline-block;
            right: 1em;
            width: $editor-input-width;
        }

        ::-webkit-scrollbar {
            width: 0px;  /* Remove scrollbar space */
            background: transparent;  /* Optional: just make scrollbar invisible */
        }
    }

    table {
        $thead-height: 50px;

        thead {
            position: sticky;
            position: -webkit-sticky;
            top: $control-height;
            height: $thead-height;
            z-index: 100;
            background-color: rgba($color: white, $alpha: 0.8);

            th {
                position: sticky;
                position: -webkit-sticky;
                top: $control-height;
                height: $thead-height;
                z-index: 100;
                background-color: rgba($color: white, $alpha: 0.8);

                > a {
                    color: black;

                    &:hover {
                        color: blue;
                    }
                }
            }
        }

        tr {
            &.selected {
                background: lightblue;
            }
        }

        td {
            ::-webkit-scrollbar {
                width: 0px;  /* Remove scrollbar space */
                background: transparent;  /* Optional: just make scrollbar invisible */
            }
        }

        .fixed-header-offset {
            height: $control-height;
        }
    }

    .wrapper {
        overflow: scroll;
        height: 150px;
        max-width: 400px;
        position: relative;

        .wrapped {
            word-break: break-word;
            width: 100%;
            height: 100%;
        }
    }
}

.no-border {
    border: none;
    padding-left: 0;
}