@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";
@import "~flatpickr/dist/flatpickr.min";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~simplemde/dist/simplemde.min";

$nav-button-size: 70px;

.stretched {
    width: 100%;
    height: 100%;
}

.overflow-scroll {
    overflow: scroll;
}

.navbar {
    width: $nav-button-size;
    margin: 0;
    padding: 0;

    > * {
        padding: 10px;
        width: $nav-button-size;
        height: $nav-button-size;
        border: 0;
        background-color: rgba($color: #000000, $alpha: 0);
    
        a {
            font-size: 50px;
            text-decoration: none;
            color: darkblue;
        }
    }
}

.body {
    position: fixed;
    border: 1px solid lightgray;
    height: 100%;
    width: 100%;
    left: $nav-button-size;
    top: 0;
    overflow: scroll;
}

.editor-window {
    $control-height: 50px;

    .editor-control {
        z-index: 200;
        height: 3em;
        width: 100%;
        background-color: rgb(233, 233, 233);
        align-items: center;
        display: flex;
        top: 0px;
        height: $control-height;
        position: fixed;
    
        > button, span {
            padding: 1em;
        }

        .editor-button {
            width: 100px;
            margin-right: 1em;

            .dropdown-toggle-split {
                width: 0 !important;
            }
        }
    
        .editor-input {
            position: fixed;
            right: 1em;
            width: 300px;
        }
    }

    table {
        $thead-height: 50px;

        thead {
            position: sticky;
            position: -webkit-sticky;
            top: $control-height;
            height: $thead-height;
            z-index: 100;
            background-color: rgba($color: white, $alpha: 0.8);

            th {
                position: sticky;
                position: -webkit-sticky;
                top: $control-height;
                height: $thead-height;
                z-index: 100;
                background-color: rgba($color: white, $alpha: 0.8);
            }
        }

        tr {
            &.selected {
                background: lightblue;
            }
        }

        .fixed-header-offset {
            height: $control-height;
        }
    }

    .wrapper {
        overflow: scroll;
        max-height: 300px;
        max-width: 400px;
    }
}

.tree-score > * {
    width: 3em;
    display: inline-block;
    text-align: right;
}

.datetime-nullable {
    > input {
        background-color: white !important;
    }
}

iframe {
    margin: 0;
    padding: 0;
}

.small-spinner {
    margin: 0 auto;
    height: 100px;
    width: 100px;
}

.col-form-label, .datetime-nullable.input-group {
    padding: 0;
}

.markdown-editor {
    .CodeMirror, .CodeMirror-scroll {
        height: 150px;
        min-height: 150px;
    }

    .Codemirror-fullscreen .CodeMirror {
        height: auto;
    }

    .Codemirror-fullscreen .CodeMirror-scroll {
        height: 100%;
    }
}