@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";
@import "~flatpickr/dist/flatpickr.min";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~simplemde/dist/simplemde.min";

@import "css/editor.scss";
@import "css/quiz.scss";

$nav-button-size: 70px;

.stretched {
    width: 100%;
    height: 100%;
}

.overflow-scroll {
    overflow: scroll;
}

.navbar {
    width: $nav-button-size;
    margin: 0;
    padding: 0;

    > * {
        padding: 10px;
        width: $nav-button-size;
        height: $nav-button-size;
        border: 0;
        background-color: rgba($color: #000000, $alpha: 0);
    
        a {
            font-size: 50px;
            text-decoration: none;
            color: darkblue;
        }
    }
}

.body {
    position: fixed;
    border: 1px solid lightgray;
    height: 100%;
    width: 100%;
    left: $nav-button-size;
    top: 0;
    overflow: scroll;
}

.datetime-nullable {
    > input {
        background-color: white !important;
    }
}

iframe {
    margin: 0;
    padding: 0;
}

.small-spinner {
    margin: 0 auto;
    height: 100px;
    width: 100px;
}

.col-form-label, .datetime-nullable.input-group {
    padding: 0;
}

.markdown-editor {
    .CodeMirror, .CodeMirror-scroll {
        height: 150px;
        min-height: 150px;
    }

    .Codemirror-fullscreen .CodeMirror {
        height: auto;
    }

    .Codemirror-fullscreen .CodeMirror-scroll {
        height: 100%;
    }
}