@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";
@import "~flatpickr/dist/flatpickr.min";

html, body, #App {
    height: 100%;
}

.h-0 {
    height: 0px !important;
    margin: 0;
    padding: 0;
    outline: 0;
}

.page-control {
    white-space: nowrap;
}

.quizarea img {
    max-width: 700px;
    max-height: 500px;
}

table img {
    max-width: 400px;
}

img {
    max-width: 100%;
}

textarea {
    font-family: 'Courier New', Courier, monospace;
    resize: none;
}

pre {
    white-space: pre-wrap;
}

.animate {
    transition: all 0.4s linear;
}

.navbar-nav > li {
    display: inline-block;
}

.clear, .clear * {
    background-color: rgba($color: #fff, $alpha: 0);
    border: 0px;
}

.cell-wrapper {
    max-height: 200px;
    overflow: scroll;
}

.cell-editor-md {
    height: 500px !important;
}

.cell-editor-text textarea {
    width: 100%;
    height: 100%;
}

.modal-content * {
    pointer-events: auto;
}

table {
    table-layout: fixed;
}

* {
    word-break: break-word;
}

.flatpickr-input {
    background: #fff !important;
}

.crop {
    overflow: hidden;
}

input.form-control:read-only, textarea.form-control:read-only {
    background-color: #fff;
}
