@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";
@import "~flatpickr/dist/flatpickr.min";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~toastr/toastr.scss";
@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/base16-light";

$nav-button-size: 70px;

.stretched {
    width: 100%;
    height: 100%;
}

.overflow-scroll {
    overflow: scroll;
}

.body {
    position: fixed;
    border: 1px solid lightgray;
    height: 100%;
    width: 100%;
    left: $nav-button-size;
    top: 0;
    overflow: scroll;
}

.datetime-nullable {
    > input {
        background-color: white !important;
    }
}

iframe {
    margin: 0;
    padding: 1em;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &.html-view {
        min-width: 400px;
        min-height: 500px;
    }
}

.col-form-label,
.datetime-nullable.input-group {
    padding: 0;
}

.markdown-editor {
    .CodeMirror {
        border: 1px solid lightgray;
        padding: 0;
    }

    .CodeMirror,
    .CodeMirror-scroll {
        height: 150px;
        min-height: 150px;
    }

    .preview {
        padding: 0 !important;
    }
}

.flatten {
    display: none;
}

.needs-validation.was-validated {
    .form-not-required {
        border: 1px solid #28a745;
        border-radius: 0.25rem;
    }

    .form-required {
        border: 1px solid red;
        border-radius: 0.25rem;
    }
}

button.dropdown-toggle {
    width: 10px;
    min-width: 10px;
    padding-left: 0px;
}

.nav-icon {
    width: 70px;
    height: 70px;
    font-size: 50px;
    text-decoration: none !important;
    color: darkblue;
    padding: 0.5rem 0.5rem;

    &:hover {
        color: blue;
    }
}

#toast-container .toast-close-button {
    font: inherit;
    margin-top: 0.2em;

    &:hover {
        color: blue;
    }
}

.dropdown-toggle {
    width: 1em !important;
    padding-left: 0.1em !important;
}

.animated {
    animation: simple-animation 0.8s linear;

    @keyframes simple-animation {
        99% {
            opacity: 0.5;
            transform: scale(1.1);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.btn:active {
    transition: all 0.5s ease-in;
    opacity: 0.5;
    transform: scale(1.1);
}

input, textarea {
    &.form-control {
        background-color: white !important;
    }
}

pre {
    white-space: pre-wrap;
}