.tree-view {
    ul {
        list-style: none;
        padding-left: 1rem;
    }

    .caret {
        width: 1.5em;
        display: inline-block;
    }

    .tree-text:hover {
        color: blue;
        cursor: pointer;
    }

    .tree-score {
        word-wrap: none;
    }

    .tree-new {
        color: green;
    }
    
    .tree-leech {
        color: red;
    }
    
    .tree-due {
        color: blue;
    }

    .tree-score-child {
        width: 4em;
        text-align: right;
        display: inline-block;
    }
}