* {
    margin: 0px;
}

body {
    width: 100%;
    min-width: 100%;
}

#nav-area {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: inline-table;
    width: 100%;
}

/* Style the buttons that are used to open the tab content */
#new-record,
.page-button {
    background-color: inherit;
    border: none;
    outline: none;
    padding: 14px 16px;
    margin: 0px;
    transition: 0.3s;
    font-size: 17px;
}

.page-button:disabled {
    color: white;
}

#nav-page-button,
#nav-page-button>*,
#page-label>* {
    display: inherit;
}

#page-label>* {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.nav-right {
    float: right;
    z-index: 100;
}

#search-bar {
    font-size: 15px;
    margin-right: 20px;
    width: 300px;
    transform: translateY(50%);
}

#hot-container {
    overflow: hidden;
}

.wtHolder {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

.wtHolder::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.cell-wrapper {
    max-width: 500px;
    max-height: 150px;
    overflow-y: scroll;
}

.cell-wrapper * {
    line-height: initial;
    margin-block-start: initial;
    margin-block-end: initial;
}

.cell-wrapper pre {
    line-height: 2em;
}